@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.title {
    color: #17355B;
}

/* Nav area begins */

nav {
    background-color: #52a4e4;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-height: 100px;
    padding: 0px;
}

nav .links {
    display: flex;
    justify-content: center;
}

nav .links a {
    text-align: center;
    color: #17355B;
    text-decoration: none;
    padding: 35px;
}

nav .links a:hover {
    background-color: #17355B;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

#logo_link .links {
    display: flex;
}

.logo {
    height: 100px;
    padding: 0px;
}

/* Nav area ends */

/* Hero area begins */

.hero-image {
  background-image: url("../images/placeholder1.png");
  height: 100vh;
  margin-top: -100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

/* Hero area ends */

/* Home grid begins */


/* About (Sublayer 1) */

.about {
    background-color: lightgray;
    padding: 50px;
}

/* Featured (Sublayer 2) */

.featured {
    padding: 50px;
}

.card-img {
    width: 100%;
    border-radius: 5px;
}

/* 3 cards in featured */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Quote (Sublayer 3) */

.quote {
    background-color: #17355B;
    color: #ffffff;
    padding: 50px;
    text-align: center;
}

/* Home grid ends */

/* Footer begins */

footer {
    background-color: #6d9eeb;
    color: #ffffff;
    padding: 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-height: 100px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #17355B;
}

.footer-link .right-footer-links {
    display: flex;
}
